# Invoke-BackdoorsAndBreaches File Transfer configuration file template
#
# ** NOTE ** File transfers are dependant upon a working version of WinSCP on the system running the script module and path to the dll supplied below
#
# To be customised as required looking to transfer files to a remote system (i.e. not a local or SMB mapped drive)
# This is ONLY required where both the generated player and incidentmaster files are to be hosted remotely e.g. on a web server
# Chosen protocol configuration will be pulled in from the named [section] below e.g. FTPS, SFTP, FTP.  More will be supported at a later date.
# ONLY the top section AND the [chosen protocol] section needs to be completed (if using the remote file option). All other sections can be commented out or left blank.
#
# It's strongly recommended to verify ability to connect to the remote host with the preferred protocol using WinSCP first.
# On successful connection check the Session menu of WinSCP and review the "Server/Protocol Information" to help filling out this configuration file
# This will allow troubleshooting (also to see what parameters are being set and host ssh/tls fingerprints etc.).  This configuration file can be updated accordingly.
# There's good documentation here: https://winscp.net/eng/docs/library_sessionoptions
#
# TransferProtocol=FTP
# TransferProtocol=SFTP
TransferProtocol=FTPS

PathToWinSCPnetDLL=C:\Program Files (x86)\WinSCP\WinSCPnet.dll
URLforPlayers=http://www.example.com/bandb/index.html

# Optional - You may want to consider protecting the incident master directory with a.htaccess file or similar
URLforIncidentMaster=http://www.example.com/bandb/incidentmaster/index.html

# The upload path to the incidentmaster folder and player folders will always be required irrespective of preferred protocol
IncidentMasterUploadURI=webspace/httpdocs/example.com/bandb/incidentmaster/
PlayerUploadURI=webspace/httpdocs/example.com/bandb/
URI=ftp.example.com

[FTPS]
Port=21
FTPSecure=Explicit
Username=Someuser
# Please see Get-PasswordAsEncryptedSecureString in the module examples subdirectory to see details on how to encrypt a password for use in this file.
SecurePassword=01000000d08c9ddf0115d1118c7aexample297eb010000005e4f96302fcbf940807e1cf8dfe91ee2example002example0001066example100002example2481f08b18e9286663902d4a44fc1bac12623f22ad0b571adaa8cbf8049a2e89example00e8example0200002examplef52683dd3f846fcd40edec7a71e5ba000fcd42889e46298c837a2890e856ff002example2e7e4ff58fccefca181d7fe087cd57d97be849b119d61440afd781ab7e10cb704example164e65e187c7765f01bfa29005ac3e97342968cf0c7cbbf047b0769230e98cc8b5ddef472f2d7b20f806bc288d773f9ea7c914d0813b47b7445bbed6af651f84
TlsHostCertificateFingerprint=xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx

# ** WARNING ** FTP is obviously NOT a secure protocol ;-). Code is shared for test purposes.  Stick with FTPS or SFTP.
[FTP]
Port=21
Username=Someuser
# Please see Get-PasswordAsEncryptedSecureString in the module examples subdirectory to see details on how to encrypt a password for use in this file.
SecurePassword=01000000d08c9ddf0115d1118c7aexample297eb010000005e4f96302fcbf940807e1cf8dfe91ee2example002example0001066example100002example2481f08b18e9286663902d4a44fc1bac12623f22ad0b571adaa8cbf8049a2e89example00e8example0200002examplef52683dd3f846fcd40edec7a71e5ba000fcd42889e46298c837a2890e856ff002example2e7e4ff58fccefca181d7fe087cd57d97be849b119d61440afd781ab7e10cb704example164e65e187c7765f01bfa29005ac3e97342968cf0c7cbbf047b0769230e98cc8b5ddef472f2d7b20f806bc288d773f9ea7c914d0813b47b7445bbed6af651f84

[SFTP]
# TODO - This is currently untested
Port=22
HostName=SFTP server address
UserName=Someuser
# Please see Get-PasswordAsEncryptedSecureString in the module examples subdirectory to see details on how to encrypt a password for use in this file.
SecurePassword=01000000d08c9ddf0115d1118c7aexample297eb010000005e4f96302fcbf940807e1cf8dfe91ee2example002example0001066example100002example2481f08b18e9286663902d4a44fc1bac12623f22ad0b571adaa8cbf8049a2e89example00e8example0200002examplef52683dd3f846fcd40edec7a71e5ba000fcd42889e46298c837a2890e856ff002example2e7e4ff58fccefca181d7fe087cd57d97be849b119d61440afd781ab7e10cb704example164e65e187c7765f01bfa29005ac3e97342968cf0c7cbbf047b0769230e98cc8b5ddef472f2d7b20f806bc288d773f9ea7c914d0813b47b7445bbed6af651f84
SshHostKeyFingerprint=ssh-rsa 1024 xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx
SshPrivateKeyPath=c:\path\to\privkey.pem
