body{
	background-color: White;
	font-family: Arial, Helvetica, sans-serif;
	margin: 2px 2px;
	overflow: hidden
}
.incidentresponder {
	background-color: LightBlue;
	color: MidnightBlue;
	margin: 2px 2px;
	overflow: hidden
}
footer.incidentresponder {
	color: MidnightBlue;
	margin: 4px 4px;
	padding: 4px 4px;
	text-align: center;
}
.incidentmaster {
	background-color: MistyRose;
	color: DarkRed;
	margin: 2px 2px;
	overflow: hidden
}
footer.incidentmaster {
	color: DarkRed;
	margin: 4px 4px;
	padding: 4px 4px;
	text-align: center;
}

p.player {
	background-color: white;
	color: MidnightBlue;
}
div.player {
	background-color: white;
	color: MidnightBlue;
	text-align: left;
}

h3   {
	color: MidnightBlue;
	margin: 2px 2px;
}
h3.play   {
	color: red;
	font-weight: bold;
	margin: 3px 2px;
}

img	 {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}
img.plain {
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0); /* plain */
}

p    {color: red;}

h3.available    {
	color: darkgreen;
	margin: 2px 2px;
}
h3.unavailable  {
	color: DarkRed;
	margin: 2px 2px;
}
* {
  box-sizing: border-box;
}

velvet {
  height: 100%;
  width: 75%;
  background-color: lightsteelblue;
  padding: 0 10px;
}

gameplay {
  height: 100%;
  width: 25%;
  background-color: black;
  float: left;
  padding: 0 0px;
}

/* Style the counter cards */
.cardbox {
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  height:100%;
  padding: 4px;
  border: 1px;
  text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.playerselected {
	color: red;
	text-align: left;
}
/**/
div.scroll {
	background-color: white;
	height: 100%;
	margin:2px 4px;
	overflow-x: hidden;
	overflow-x: auto;
	padding: 4px 4px;
	text-align:justify;
}

/* ******************************* */
/* Float four columns side by side */
.column {
  float: left;
  width: 16.66%;
  padding: 0 8px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 5px;
  border: 0px solid white;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

/* Allow image to scale up beyond max */
img {
  max-width: 95%;
  height: auto;
}